 <!-- Default box -->
<div class="box watcher-list">
    <div class="box-header with-border">
        <h3 class="box-title"data-bind="text: title"></h3>

        <div class="box-tools">
        </div>
    </div>

    <div class="box-body table-responsive">
        <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>actions</th>
        </tr>
        <!-- ko foreach: data -->
        <tr>
            <td data-bind="text: id"></td>
            <td><input data-bind="value: name" type="text" /></td>
            <td><input data-bind="value: email" type="text" /></td>
            <td>
                <div data-bind="click: save" class="label label-success pointer"><span class="fa fa-save"></span></div>
                <div data-bind="click: del" class="label label-danger pointer"><span class="fa fa-trash"></span></div>
            </td>
        </tr>
        <!-- /ko -->
        </table>
    </div>
</div>