body{
  margin: 0px;
  background-color: #2e2e2e;
  color:#767676;
}
.sidebar-close{
	display: none
}
.icon-btn{
	line-height: 1;
    cursor: pointer;
    text-align: center;
    margin: 10px 15px;
    font-size: 14px;
} 
.icon-btn:hover {
    color: #20a0ff;
}
// .fade-enter-active,
// 	.fade-leave-active {
// 		transition: opacity .5s
// 	}
	
// 	.fade-enter,
// 	.fade-leave-active {
// 		opacity: 0
// 	}
	
// 	.panel {
// 		position: absolute;
// 		top: 0px;
// 		bottom: 0px;
// 		width: 100%;
// 	}
	
// 	.panel-top {
// 		height: 60px;
// 		line-height: 60px;
// 		background: #1F2D3D;
// 		color: #c0ccda;
// 	}

// 	.panel-top .rightbar{
// 		text-align: right;
// 		padding-right: 35px;
// 	}

// 	.panel-top .rightbar .head{
// 		width: 40px;
//     	height: 40px;
// 		border-radius: 20px;
// 		margin: 10px 0px 10px 10px;
//     	float: right;
// 	}
	
// 	.panel-center {
// 		background: #324057;
// 		position: absolute;
// 		top: 60px;
// 		bottom: 0px;
// 		overflow: hidden;
// 	}
	
// 	.panel-c-c {
// 		background: #f1f2f7;
//     height: 100%;
// 		right: 0px;
// 		top: 0px;
// 		bottom: 0px;
// 		left: 230px;
// 		overflow-y: scroll;
// 		padding: 5px;
// 	}
	
// 	.logout {
// 		background: url(./assets/logout_36.png);
// 		background-size: contain;
// 		width: 20px;
// 		height: 20px;
// 		float: left;
// 	}
	
// 	.logo {
// 		width: 40px;
// 		float: left;
// 		margin: 10px 10px 10px 18px;
// 	}
	
// 	.tip-logout {
// 		float: right;
// 		margin-right: 20px;
// 		padding-top: 5px;
// 	}
	
// 	.tip-logout i {
// 		cursor: pointer;
// 	}
	
// 	.admin {
// 		color: #c0ccda;
// 		text-align: center;
// 	}